.progress {
  display: flex;
  height: 0.8rem;
  font-size: 0.75rem;
  background-color: $gray-200;
  position: relative;

  &,
  .progress__bar {
    border-radius: 25px 0 50px 25px;
  }

  .progress__value {
    position: absolute;
    font-size: 1.3em;
    top: -1.5rem;
    font-style: italic;
    font-weight: bold;
  }

  .progress__bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    text-align: center;
    white-space: nowrap;
    background-color: $gray-600;
    transition: width 0.6s ease;
  }
}
