@import '../variables';

.timeline {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  list-style: none;
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
    background: $gray-500;
  }

  > li {
    padding-left: 40px;
    position: relative;
    padding-bottom: 50px;

    &::before {
      content: ' ';
      position: absolute;
      height: 16px;
      width: 16px;
      background: $white;
      border-radius: 50%;
      border: solid 1px $gray-400;
      left: -8px;
      top: 2px;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}
