@import '../../styles/variables';

.section-title {
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 30px;

  &::after {
    content: '';
    background: $black;
    border-radius: 15px 0 30px 15px;
    display: block;
    height: 10px;
    margin-top: 30px;
    width: 40px;
  }
}
