@import '../../styles/variables';

.short-bio,
.about {
  border: 1px solid $gray-100;
}

.short-bio {
  width: 35%;

  .short-bio__image-container {
    width: 100% !important;
  }

  .short-bio__text {
    padding: 20px 25px;
    margin: 0;
  }
}

.about {
  padding: 70px 50px;
  flex-grow: 1;

  .about__text-item {
    margin: 0;
    padding: 10px 0;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-200;
    }

    span {
      font-weight: bold;
    }
  }
}
