@import '../../styles/variables';

.content-left,
.content-right {
  width: 100%;
  border: 1px solid $gray-100;
}

.content-right {
  padding: 40px 20px;
  flex-grow: 1;
}

.image-container {
  width: 100% !important;
}

.resume-text {
  padding: 20px;
  margin: 0;
}

.list-text-item {
  margin: 0;
  padding: 10px 0;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-200;
  }

  span {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .content-left {
    width: 35%;
  }

  .content-right {
    width: auto;
    padding: 70px 50px;
  }

  .resume-text {
    padding-left: 25px;
    padding-right: 25px;
  }
}
