@import '../../styles/variables';

.card {
  display: flex;
  background-color: $white;
  border-collapse: collapse;
  border: 1px solid $gray-100;
  box-shadow: 0.1rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  width: 100%;
}
