@import '../../styles/variables';

$container-padding-y: 10px;

.container {
  background: $gray-100;
  padding: $container-padding-y 0;

  &:nth-child(2) {
    padding-top: $container-padding-y * 2;
  }

  &:last-child {
    padding-bottom: $container-padding-y * 2;
  }

  @media (min-width: 768px) {
    padding: ($container-padding-y * 5) 0;

    &:nth-child(2) {
      padding-top: $container-padding-y * 10;
    }

    &:last-child {
      padding-bottom: $container-padding-y * 10;
    }
  }
}
