@import '../../styles/variables';

.container {
  background-color: $dracula-orchid;
  background-repeat: repeat;
  background-size: 800px 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;

  @media (min-width: 768px) {
    height: calc(100vh - #{$main-layout-padding});
  }
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  width: 100%;

  .header__item {
    background-image: none;
    color: $clouds;
    opacity: 0.7;
    text-shadow: none;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    justify-content: flex-end;
    padding: 20px 40px;

    .header__item:not(:first-child) {
      padding-left: 20px;
    }
  }
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .hero__image-container {
    border-radius: 50%;
    border: 10px solid $clouds;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  }

  .hero__description-content {
    padding-top: 30px;
    width: 100%;
  }

  .hero__title,
  .hero__subtitle {
    color: $clouds;
    text-align: center;
    width: 100%;
  }

  .hero__title {
    margin: 0;
    text-transform: uppercase;
  }

  .hero__subtitle {
    display: block;
    font-style: italic;
  }
}
